In [4]:
import pandas as pd
from pathlib import Path

In [8]:
csvpath = Path("budget_data.csv")

In [9]:
budget_data = pd.read_csv(csvpath)
budget_data.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [11]:
df=pd.read_csv('budget_data.csv')

In [18]:
budget_data.count()

Date             86
Profit/Losses    86
dtype: int64

In [19]:
budget_data.isnull().mean() * 100

Date             0.0
Profit/Losses    0.0
dtype: float64

In [20]:
budget_data.iloc[0:10]

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503
5  Jun-10         522857
6  Jul-10        1033096
7  Aug-10         604885
8  Sep-10        -216386
9  Oct-10         477532

In [21]:
budget_data.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [56]:
total_months = len(budget_data)
total_dollars = sum(budget_data['Profit/Losses'])
average_change = sum(budget_data['ChangeInProfits'][1:])/len(budget_data['ChangeInProfits'][1:])
total_increase_profits = max(budget_data['ChangeInProfits'][1:])
total_decrease_profits = min(budget_data['ChangeInProfits'][1:])
print("Financial Analysis")
print("----------------------------")
print("Total Months: %d" % (total_months))
print("Total_dollars: $%d" % (total_dollars))
print("average_change: $%d" % (average_change))
print("Total: $%d" % (total_increase_profits))
print("Total: $%d" % (total_decrease_profits))

Financial Analysis
----------------------------
Total Months: 86
Total_dollars: $38382578
average_change: $-2315
Total: $1926159
Total: $-2196167

In [27]:
len(budget_data)

86

In [35]:
budget_data['ChangeInProfits'] =

SyntaxError: unexpected EOF while parsing (3373244264.py, line 1)

In [53]:
budget_data['ChangeInProfits'] = budget_data['Profit/Losses'].diff()
max(budget_data['ChangeInProfits'][1:])
min(budget_data['ChangeInProfits'][1:])
sum(budget_data['ChangeInProfits'][1:])/len(budget_data['ChangeInProfits'][1:])

-2315.1176470588234